.message {
   display: flex;
   flex-direction: column;
   position: relative;
   /* overflow: hidden; */

   .timestamps {
      display: flex;
      justify-content: center;
      color: rgba(153, 153, 153, 0.555);
      font-weight: 600;
      font-size: 11px;
      margin: 10px 0px;
      text-transform: uppercase;
   }

   .bubbleContainer {
      display: flex;
      font-size: 16px;
      &.isMine {
         justify-content: flex-end
      }

      .avatar {
         margin-right: 5px;
         visibility: hidden;
            &.endsSequence {
               visibility: visible;
               display: flex;
               align-self: end;
               margin-right: 5px;
            }
      }

      .bubble {
         position: relative;
         margin: 1.5px 0;
         background: rgb(224, 224, 224);
         padding: 10px 12px;
         border-radius: 20px;
         max-width: 75%;
         border-top-left-radius: 4px;
         border-bottom-left-radius: 4px;
         border-top-right-radius: 20px;
         border-bottom-right-radius: 20px;
         cursor: pointer;
         word-break: break-all;
         
   
         &.isMine {
            background: rgb(14, 77, 145);
            color: white;
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;

            &.startsSequence {
               margin-top: 10px;
               border-top-right-radius: 20px;
            }

            &.endsSequence {
               margin-bottom: 10px;
               border-bottom-right-radius: 20px;
            }
         }
         &.startsSequence {
            margin-top: 10px;
            border-top-left-radius: 20px; 
         }
         &.endsSequence {
            margin-bottom: 10px;
            border-bottom-left-radius: 20px;
         }

         .hourTime {
            position: absolute;
            top: 50%;
            left: -50px;
            right: 0;
            transform: translateY(-50%);
            border-radius: 10px;
            height: 35px;
            width: 50px;
            background: rgb(46, 46, 46);
            line-height: 35px;
            text-align: center;
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
            color: wheat;
            font-size: 12px;
         }
   
   
      }

   } 

}



 
