@import 'variables.scss';

// Reset
*{
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
   outline: 0px;
 }

 body {
    min-height: 100vh;
    width: 100%;
    background-image: url('../assets/bg.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: rgba(23, 27, 33, 0.795);
    &::after {
      content: "";
      background-color: rgba(23, 27, 33, 0.329);
      opacity: 1;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      z-index: -1;   
      min-height: 100vh;
      width: 100%;
    }
   
 }
.main-content {
  position: fixed;
  overflow-y: scroll;
  margin-left: 78px;
  margin-top: 30px;
  width: calc(100% - 78px);
  display: flex;
  justify-content: center;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.36, 0.66, 0.04, 1);
  transition-property: all;
  &.isActive{
     width: calc(100% - 240px);
     margin-left: 240px;
  }
  &::-webkit-scrollbar {
   display: none;
}
   }


