@import 'variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');


// Reset
*{
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
   outline: 0px;
   font-family: 'Roboto', sans-serif;
 }

body {
   background-image: url('../assets/bg.jpg');
   background-size: cover;
   background-position: center center;
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-color: rgba(23, 27, 33, 0.795);
   transition-duration: 0.5s;
   transition-timing-function: cubic-bezier(0.36, 0.66, 0.04, 1);
   transition-property: all;

   &::-webkit-scrollbar {
      display: none;
  }
}

.main-content {
   margin-left: 78px;
   width: calc(100% - 78px);
   display: flex;
   justify-content: center;
   transition-duration: 0.5s;
   transition-timing-function: cubic-bezier(0.36, 0.66, 0.04, 1);
   transition-property: all;

   @include max(sm) {
      margin-left: 0;
      width: 100%;
   }
   &.isActive{
      width: calc(100% - 240px);
      margin-left: 240px;
      opacity: 1;
      @include max(sm) {
         display: none;
      }
   }
}
