@import '../../styles/variables.scss';

.sidebar{
   position: fixed;
   top: 65px;
   left: 0;
   height: calc(100% - 40px);
   width: 78px;
   background-color: rgba(21, 22, 26, 0.450);
   padding: 0 14px;
   transition-duration: 0.5s;
   transition-timing-function: cubic-bezier(0.36, 0.66, 0.04, 1);
   transition-property: all;
   border-right: 1px solid rgba(255, 255, 255, 0.200);
   border-top: 1px solid rgba(255, 255, 255, 0.200);
   z-index: 999;
   @include max(sm) {
      transform: translate(-100%);
    }
   &.isActive{
      transform: translate(0);
      width: 240px;
   }

   ul{
      height: 100%;
      display: flex;
      flex-direction: column;
      padding-bottom: 50px;
      /* overflow-y: auto; */
      /* overflow-x: hidden; */
      position: relative;
      margin-top: 15px;
      justify-content: space-between;
      &.isActive{
         width: 200px;
      }
      &::-webkit-scrollbar {
         display: none;
     }
     @media (max-height: 470px) {
         overflow-y: scroll; 
         overflow-x: hidden; 
      }

      li{
         position: relative;
         height: 50px;
         width: 50px;
         list-style: none;
         line-height: 50px;
         margin: 10px 0;
         transition: all 0.5s all;
         &:hover{
            .tooltip{
               opacity: 1;
               @include max(sm) {
                  opacity: 0;
                }
            }
         }
         .active{
            background-color: rgb(199, 80, 12);
         }
         .tooltip {
            position: absolute;
            left: 125px;
            top: 50%;
            transform: translate(-50% , -50%);
            border-radius: 6px;
            height: 35px;
            width: 120px;
            margin-right: 200px;
            background: rgb(255, 255, 255);
            line-height: 35px;
            text-align: center;
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
            transition: 0s;
            opacity: 0;
            pointer-events: none;
            transition: all 0.5s all;
             &.isActive{
               visibility: hidden;
            }
          
         }
         a {
            position: relative;
            display: flex;
            color: #fff;
            display: flex;
            align-items: center;
            justify-items: center;
            text-decoration: none;
            border-radius: 12px;
            white-space: nowrap;
            transition: all 0.4s ease;
            &:hover{
               color: rgb(187, 32, 32);
               background: #fff;
            }
            .icon{
               min-width: 50px;
               height: 25px;
               border-radius: 12px;
            }

            .links_name {
               font-size: 18px;
               font-weight: 400;
               opacity: 0;
               pointer-events: none;
               transition: all 0.3s ease;
               margin-left: 20px;         
               &.isActive{
                  transition: 0s;
                  opacity: 1;
                  pointer-events: auto
               }
             }
         }
      }
   }


 }

