.container {
   margin: 10px;
   display: flex;
   background-color: rgba(30, 9, 56, 0.5);
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			      0 10px 10px rgba(0,0,0,0.22);
	overflow: hidden;
	width: 768px;
   height: 500px;
   .form_container {
      height: 100%;
	   width: 50%;
      form {
         margin: 30px 30px;
         display: flex;
         flex-direction: column;
         height: 100%;
         h1{
            font-size: 2.5rem;
            margin-left: 20px;
            text-align: start;
            width: 100%;
            margin-bottom: 1rem;
            color: #fff;
      }
         .icon{
            margin: 20px auto;
            width: 90px;
            height: 90px;
            color: white;
         }
   }
   }
   .overlay_container{
/*       position: relative; */
	   width: 50%;
      background-color: hsl(292, 48%, 32%);
      .img{
         width: 100%;
         height: 100%;

      }
   }
   
}
 