@import '../../styles/variables.scss';

.header {
   position: sticky;
   display: flex;
   top: 0;
   max-height: 65px;
   width: 100vw;
   background-image: url('../../assets/bg.jpg');
   background-size: cover;
   background-position: center center;
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-color: rgb(0, 0, 0);
   z-index: 999;
   &:before {
      position: absolute;
      content: "";
      background-color: rgba(21, 22, 26, 0.450);
      top: 0;
      height: 65px;
      width: 100%;
   }
   .menu_content{
      justify-content: center;
      width: 78px;
      display: flex;
      text-align: center;
      border-right: 1px solid rgba(255, 255, 255, 0.400);
      align-items: center;
      padding: 0 5px;
      .btn{
         color: rgb(76, 110, 148);
         height: 35px;
         width: 35px;
         cursor: pointer;
         position: relative;
         &:hover{
            color: rgb(255, 255, 255);
         }
      }
   }

.logo_content{
   margin-left: 40px;
      .logo {
         color: white;
         display: flex;
         height: 70px;
         width: 100%;
         align-items: center;
         opacity: 1;
         pointer-events: none;
         transition: all 0.5s ease;
         }
         .logo_name{
            font-size: 20px;
            font-weight: 400;
         }
         .logo_icon{
            font-size: 28px;
            margin-right: 5px;
         }
   }
   .welcome{
      display: flex;
      margin-left: 40px;
      align-items: center;
      span{
         color: white;
         font-size: 1.5rem;
      }
}
}